/* 列表页头部区域 */
.header .sk{
    position: absolute;
    top: 40px;
    left: 185px;
    height: 32px;
    border-left: 2px solid #b1191a;
    padding-left: 15px;
    padding-top: 5px;
}
/* 列表页导航栏区域 */
.nav .sk_list li{
    float: left;
    line-height: 45px;
    margin:0 30px;
}
.nav .sk_list li a{
    color: #000;
    font-size: 16px;
    font-weight: 700;
}
.nav .sk_list li a:hover{
    color: #c81523;
}
.nav .sk_con li{
    float: left;
    line-height: 45px;
    margin: 0 20px;
}
.nav .sk_con li a{
    font-family: 'icomoon';
    font-size: 14px;
    font-weight: 700;
}
/* 列表页内容区域 */
.sk_container .sk_bd{
    margin-top: 25px;
}
.sk_container .sk_bd ul{
    width: 1212px;
}
.sk_container .sk_bd .sk_goods{
    float: left;
    position: relative;
    width: 288px;
    height: 458px;
    border: 1px solid transparent;
    margin:0 12px 10px 0;
}
.sk_container .sk_bd .sk_goods:hover{
    border: 1px solid #e12228;
}
.sk_container .sk_bd .sk_goods .sk_goods_title{
    font-size: 14px;
    color:#666;
    font-weight: normal;
    padding: 0 10px 0;
}
.sk_container .sk_bd .sk_goods .sk_goods_price{
    padding: 10px 10px 0;
}
.sk_container .sk_bd .sk_goods .sk_goods_price em{
    font-size: 22px;
    color: #e60012;
}
.sk_container .sk_bd .sk_goods .sk_goods_price del{
    font-size: 14px;
    color: #a4a4a4;
    font-weight: 700;
}
.sk_container .sk_bd .sk_goods .sk_goods_progress{
    padding: 8px 10px;
}
.sk_container .sk_bd .sk_goods .sk_goods_progress .bar{
    display: inline-block;
    width: 130px;
    height: 10px;
    border: 1px solid #b1191a;
    vertical-align: middle;
    margin: 0 5px;
    border-radius: 5px;
}
.sk_container .sk_bd .sk_goods .sk_goods_progress .bar .bar_in{
    width: 87%;
    height: 10px;
    background-color: #f24349;
}
.sk_container .sk_bd .sk_goods .sk_goods_progress i,
.sk_container .sk_bd .sk_goods .sk_goods_progress em{
    color: #f24349;
}
.sk_container .sk_bd .sk_goods .sk_goods_buy{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #b1191a;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}
.sk_container .sk_bd .sk_goods .sk_goods_buy:hover{
    background-color: #b1191a;
    opacity: 0.6;
}
.sk_container .page{
    margin: 40px 0;
    /* 里面的文字内容 行内块 行内元素都可以居中对齐 */
    text-align: center;
}
.sk_container .page .page_num a{
    display: inline-block;
    width: 36px;
    height: 36px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    line-height: 36px;
}
.sk_container .page .page_num .page_prev,
.sk_container .page .page_num .page_next{
    width: 83px;

}
.sk_container .page .page_num .current,
.sk_container .page .page_num .dotted{
    border: 1px solid transparent;
    background-color: transparent;
}
/* 表单获得焦点 */
.sk_container .page .page_skip input:focus{
    border: 1px solid #b1191a;
}
.sk_container .page .page_skip input{
    width: 46px;
    height: 36px;
    border: 1px solid #ccc;
    text-align: center;
    transition: all 0.3s;
}
.sk_container .page .page_skip button{
    width: 54px;
    height: 36px;
    border: 1px solid #ccc;
}
